.DS_Store
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
dist-ssr
node_modules
.idea/
*.log
.venv/
server/model-dir/
server/output
server/checkpoint-375/
server/output/
LLaMA-Factory/
server/embedding_model/__pycache__/
*.pyc
